<%= form_for @conference, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label "Nombre", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Hora", :class => 'control-label' %>
    <div class="controls">
      <%= f.time_select :time, :class => 'time_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Dia", :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :date, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Categoria", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :category, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Obligatorio?", :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :obligatory, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Expositor", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :speaker, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                conferences_path, :class => 'btn' %>
  </div>
<% end %>
