<%- model_class = Attendee -%>
<div class="page-header">
  <h1>Detalle del Registro</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Nombre:</strong></dt>
  <dd><%= @attendee.first %></dd>
  <dt><strong>Apellido Paterno:</strong></dt>
  <dd><%= @attendee.last %></dd>
  <dt><strong>Apellido Materno:</strong></dt>
  <dd><%= @attendee.last2 %></dd>
  <dt><strong>Carrera:</strong></dt>
  <dd><%= @attendee.career %></dd>
  <dt><strong>Nivel:</strong></dt>
  <dd><%= @attendee.level %></dd>
  <dt><strong>Tu Email:</strong></dt>
  <dd><%= @attendee.email %></dd>
  <dt><strong>Carnet de Identidad:</strong></dt>
  <dd><%= @attendee.ci %></dd>
  <dt><strong>Ciudad:</strong></dt>
  <dd><%= @attendee.city %></dd>
  <dt><strong>Dirección:</strong></dt>
  <dd><%= @attendee.direction %></dd>
  <dt><strong>Zona:</strong></dt>
  <dd><%= @attendee.zone %></dd>
  <dt><strong>Telefono:</strong></dt>
  <dd><%= @attendee.telephone %></dd>
  <dt><strong>Celular:</strong></dt>
  <dd><%= @attendee.cellphone %></dd>
  <dt><strong>Otro numero:</strong></dt>
  <dd><%= @attendee.other %></dd>
  <dt><strong>Problemas de Salud:</strong></dt>
  <dd><%= @attendee.health %></dd>
  <dt><strong>Nombre del Apoderado:</strong></dt>
  <dd><%= @attendee.apoderado %></dd>
  <dt><strong>Parentesco del Apoderado:</strong></dt>
  <dd><%= @attendee.parentesco %></dd>
  <dt><strong>Telefono del apoderado:</strong></dt>
  <dd><%= @attendee.telephoneapoderado %></dd>
  <dt><strong>Dirección del apoderado:</strong></dt>
  <dd><%= @attendee.directionapoderado %></dd>
</dl>



<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              attendees_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_attendee_path(@attendee), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              attendee_path(@attendee),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
