<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"> <%= link_to image_tag("bannertarija4.jpg"), root_path %>   </div>
    <div class="item"><%= link_to image_tag("bannertarija3.jpg"), root_path %> </div>
    <div class="item"><%= link_to image_tag("bannertarija2.jpg"), root_path %> </div>

    <div class="item"><%= link_to image_tag("bannertja1.jpg"), root_path %></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class = "hero-unit">
	<h2>Invitación</h2>
	<p>La Corporación Educativa CATEC con presencia en varios departamentos de nuestro país, anualmente realiza viajes a cada una de las unidades académicas con las que cuenta, con el objetivo de que estudiantes, docentes y administrativos puedan aprovechar de varias actividades académicas en las que los seminarios y conferencias son impartidos por profesionales de renombre nacional y que no siempre pueden visitar nuestro departamento.
Por otro lado y con el objetivo de formar profesionales que sean líderes emprendedores, este tipo de actividades de vinculación nacional, permite a los jóvenes compartir y confraternizar con personas con quienes inician relaciones de amistad que más adelante  y al momento de llevar adelante emprendimientos de carácter nacional,  se convierten en interesantes alianzas estratégicas; motivo que ha hecho posible que la Dirección Departamental de Turismo, planifique varios eventos exclusivos para nuestras delegaciones.
Estamos seguros que esta experiencia que se llevará a cabo del 11 al 14 de abril, será de mucho beneficio para todos y cada uno de los participantes.</p>
	<div>
		 <div class ="btn btn-primary"><%= link_to "Registro", :controller => "welcome", :action => "registration"  %></div>
		
	</div>

</div>


<div class = "row-fluid">
	<div class = "span3"> 
		<div> <%= link_to image_tag("imgpeque1.jpg"), root_path %> </div> 
		<h2>Muy pronto</h2>
	<p>El evento sera muy pronto no te lo puedes perder</p>
	</div>
	<div class = "span3"> 
		<div> <%= link_to image_tag("imgpeque2.jpg"), root_path %> </div>
		<h2>Muy pronto</h2>
	<p>El evento sera muy pronto no te lo puedes perder</p>
	</div>
	<div class = "span3"> 
		<div> <%= link_to image_tag("imgpeque3.jpg"), root_path %> </div>
		<h2>Muy pronto</h2>
	<p>El evento sera muy pronto no te lo puedes perder</p>
	</div>
	<div class = "span3"> 
		<h2>Muy pronto</h2>
	<p>El evento sera muy pronto no te lo puedes perder</p>
	</div>

</div>