<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=440246749395897";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"> <%= link_to image_tag("bannertarija4.jpg"), root_path %>   </div>
    <div class="item"><%= link_to image_tag("bannertarija3.jpg"), root_path %> </div>
    <div class="item"><%= link_to image_tag("bannertarija2.jpg"), root_path %> </div>

    <div class="item"><%= link_to image_tag("bannertja1.jpg"), root_path %></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="fb-like" data-href="http://www.ucatec.edu.bo" data-send="false" data-layout="button_count" data-width="1170" data-show-faces="false"></div>
<div class="fb-facepile" data-href="http://www.ucatec.edu.bo" data-size="large" data-max-rows="1" data-width="1170"></div>

<div class= "row-fluid">
	<div class = "btn disabled span12" style= "padding:30px; margin-top:20px; margin-bottom:20px;" >
				<h2>Invitación</h2>
				<h4>Distinguidos Jóvenes de las diferentes Unidades Académicas de la CORPORACIÓN EDUCATIVA  CATEC:</h4>
				<p>
					Quiero a través de la presente, hacerles extensiva la invitación para participar del 17vo Encuentro Nacional de la Corporación Educativa CATEC, el mismo que se llevara a cabo en la ciudad de Tarija los días  11, 12, 13 y 14 de Abril de 2013, oportunidad en la tendremos la oportunidad de compartir con alumnos de las diferentes ciudades.</p>

<p>Como Ustedes saben, nuestra institución está enfocada a la generación de competencias profesionales, técnicas y sociales y dentro este marco las competencias sociales son de mucha importancia en la vida de un profesional, porque le permiten adquirir habilidades y destrezas que le servirán para poder relacionarse en un mundo laboral donde la oportunidad es de quienes son capaces de trabajar en equipo y comunicarse.</p>

<p>Este evento tiene como CENTRO la realización de seminarios, conferencias y talleres que están a cargo de prestigiosos profesionales que de no ser en una oportunidad como esta, sería difícil de poder contar con ellos, por lo tanto, esperemos que estas actividades sean de mucho provecho en su vida profesional.</p>

<p>Sean bienvenidos a este Evento Nacional que está pensado en Ustedes.</p>

<h5>Atentamente.</h5>


<h4>Ing. Rene Polo Salinas </h4>
RECTOR





		</p>	
	<div>
	</div>
		 <div class ="btn btn-large"><%= link_to "Registrarme!", :controller => "welcome", :action => "registration"  %></div>
		
	</div>

</div>


<div class = "row-fluid">
	<div class = "span3"> 
		<div> <%= link_to image_tag("imgpeque1.jpg") %> </div> 
		<h2>Seminarios</h2>
	<p>Excelentes seminarios!</p>
	</div>
	<div class = "span3"> 
		<div> <%= link_to image_tag("imgpeque2.jpg") %> </div>
		<h2>Confraternización</h2>
	<p>Momentos inolvidables!</p>
	</div>
	<div class = "span3"> 
		<div> <%= link_to image_tag("imgpeque3.jpg") %> </div>
		<h2>Almuerzo</h2>
	<p>El evento sera muy pronto no te lo puedes perder</p>
	</div>
	<div class = "span3"> 
		<div> <%= link_to image_tag("imgpeque1.jpg") %> </div>
		<h2>Fiestas</h2>
	<p>No te pierdas la fiesta de bienvenida!</p>
	</div>

</div>